body {
	background-image: url(../images/Background/bg4.jpg);
	background-repeat: no-repeat;
   background-size: cover;

}

.container {
	width: 30%;
	margin-top: 12%;
	margin-left: 35%;
	box-shadow: 0 5px 50px rgba(0,0,0,0.6);
	padding: 40px;
	border-radius: 10px;
	z-index: 1;
	color: white;
	text-size-adjust: 30px;
	
}
 
button {
	width: 49%;
}

.warna2 {
  background-color: #61481C;
}

.warna3 {
  background-color: #BF9742;
}

